@page
@{
    ViewData["Title"] = "240";
}

<div class="container">
    <div class ="page-header">
        <h1>CIS 240 Spring 2022 Schedule</h1>
        <p><a href="https://catamountwcu-my.sharepoint.com/:o:/g/personal/wakapakos_wcu_edu/EuhY-2QN8wVNkamEZ9mutRQBkvaW5ZhY2ivnDfx_7E8tzQ?e=wv0NZv">Course OneNote Notebook - For Spring 2022</a></p>
    </div>    
</div>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Week Day</th>
            <th>Date</th>
            <th>Units and Topics</th>
            <th>Resources</th>
            <th>Due</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Mon</td>
            <td>1/10</td>
            <td>
                <ul>
                    <li class="unit-size">Unit 1: Variables and Data Types</li>
                    <li>File Explorer</li>
                    <li>VS Code</li>
                    <li>Class Workflow</li>
                    <li>Vault and VCAT</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li class="onenote">OneNote: 0_Tools</li>
                    <li><a href="https://code.visualstudio.com/">VS Code</a></li>
                    <li><a href="https://code.visualstudio.com/shortcuts/keyboard-shortcuts-windows.pdf">VS Code keyboard shortcuts (Windows)</a></li>
                    <li><a href="https://code.visualstudio.com/shortcuts/keyboard-shortcuts-macos.pdf">VS Code keyboard shortcuts (MacOS)</a></li>
                    <li><a href="https://vault-info.wcu.edu/">Vault</a></li>
                    <li><a href="https://virtual.wcu.edu/">VCAT</a></li>
                </ul>
            </td>
            <td></td>
        </tr>
        <tr>
            <td>Wed</td>
            <td>1/12</td>
            <td>
                <ul>
                    <li>Python Variables</li>
                    <li>Strings</li>
                    <li>The Four Coding Steps</li>
                </ul>   
            </td>
                <td>
                    <ul>
                        <li class="onenote">OneNote: 1_Variables and Data Types</li><br>
                        <li>Supplemental Resources:</li>
                        <li>Fundamentals of Python: First Programs: pp. 41-46</li>
                        <li><a href="https://docs.python.org/3/tutorial/introduction.html#strings">Strings</a></li>
                        <li><a href="https://drive.google.com/file/d/1VJeZWwxvMJQFEuHC2T4Y4cUpaR3YI-sD/view?usp=sharing">Learning Python pp. 99-101</a></li>
                    </ul>
                </td>
                <td></td>
        </tr>
        <tr>
            <td>Fri</td>
            <td>1/14</td>
            <td>
                <ul>
                    <li>Numbers</li>
                    <li>Data Type Conversions</li>
                    <li>Data Input</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li class="onenote">OneNote: 1_Variables and Data Types</li><br>
                    <li>Supplemental Resources:</li>
                    <li>Fundamentals of Python: First Programs: pp. 47-54</li>
                    <li><a href="https://docs.python.org/3/tutorial/introduction.html#numbers">Numbers</a></li>
                    <li><a href="https://drive.google.com/file/d/1VJeZWwxvMJQFEuHC2T4Y4cUpaR3YI-sD/view?usp=sharing">Learning Python pp. 97-99</a></li> 
                </ul>
            </td>
            <td><a href="~/images/exercisedetail/Ex1_HelloWorld.PNG">Ex 1</a><br>
            <a href="~/images/exercisedetail/Ex2_Concatenating_String.PNG">Ex 2</a></td>
        </tr>
        <tr>
            <td>Mon</td>
            <td>1/17</td>
            <td colspan="4" style="text-align: center;">MLK Day - No Class</td>
        </tr>
        <tr>
            <td>Wed</td> 
            <td>1/19</td>
            <td>
                <ul>
                    <li>Floats</li>
                    <li>Intro to Functions and Modules</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li class="onenote">OneNote: 1_Variables and Data Types</li><br>
                    <li>Supplemental Resources:</li>
                    <li>Fundamentals of Python: First Programs: pp. 47-54</li>
                    <li><a href="https://docs.python.org/3/tutorial/floatingpoint.html">Floats</a></li> 
                </ul>
            </td>
            <td><a href="~/images/exercisedetail/Ex3_Input_Integer.PNG">Ex 3</a></td>
        </tr>
        <tr>
            <td>Fri</td>
            <td>1/21</td>
            <td>
                <ul>
                    <li class="unit-size">Unit 2: Lists</li>
                    <li>Access Elements in a List</li>
                    <li>Change, Add and Remove Elements</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li class="onenote">OneNote: 2_Lists</li><br>
                    <li>Supplemental Resources:</li>
                    <li>Fundamentals of Python: First Programs: pp. 135-140</li>
                    <li><a href="https://docs.python.org/3/tutorial/introduction.html#lists">Lists</a></li>
                    <li><a href="https://docs.python.org/3/tutorial/datastructures.html#more-on-lists">More on Lists</a></li>
                    <li><a href="https://drive.google.com/file/d/1VJeZWwxvMJQFEuHC2T4Y4cUpaR3YI-sD/view?usp=sharing">Learning Python pp. 239-242</a></li>
                </ul>
            </td>
            <td><a href="~/images/exercisedetail/Ex4_Floats_EmployeePay.PNG">Ex 4</a></td>
        </tr>
        <tr>
            <td>Mon</td>
            <td>1/24</td>
            <td>
                <ul>
                    <li>Looping Through lists</li>
                    <li>A Second Look at Functions</li>
                    <li>Output a List</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li class="onenote">OneNote: 2_Lists</li><br>
                    <li>Supplemental Resources:</li>
                    <li>Fundamentals of Python: First Programs: pp. 65-70</li>
                    <li><a href="https://docs.python.org/3/tutorial/inputoutput.html">Input and Output</a></li>
                </ul>
            </td>
            <td><a href="~/images/exercisedetail/Ex5_Lists_WCUClasses.PNG">Ex 5</a></td>
        </tr>     
        <tr>
            <td>Wed</td>
            <td>1/26</td>
            <td>
                <ul>
                    <li>Slicing</li>
                    <li>Copying a List</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li class="onenote">OneNote: 2_Lists</li><br>
                    <li>Supplemental Resources:</li>
                    <li><a href="https://drive.google.com/file/d/1VJeZWwxvMJQFEuHC2T4Y4cUpaR3YI-sD/view?usp=sharing">Learning Python pp. 244-246</a></li>
                </ul>
            </td>
            <td><a href="~/images/exercisedetail/Ex6_List_forLoop.PNG">Ex 6</a></td>
        </tr>
        <tr>
            <td>Fri</td>
            <td>1/28</td>
            <td>
                <ul>
                    <li>Tuples</li>
                    <li>More on Functions</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li class="onenote">OneNote: 2_Lists</li><br>
                    <li>Supplemental Resources:</li>
                    <li>Fundamentals of Python: First Programs: pp. 144-145</li>
                    <li><a href="https://docs.python.org/3/tutorial/datastructures.html#tuples-and-sequences">Tuples</a></li>
                    <li><a href="https://drive.google.com/file/d/1VJeZWwxvMJQFEuHC2T4Y4cUpaR3YI-sD/view?usp=sharing">Learning Python pp. 276-282</a></li>
                </ul>
            </td>
            <td><a href="~/images/exercisedetail/Ex7_Lists_SlicingAndCopying.PNG">Ex 7</a></td>
        </tr>
        <tr>
            <td>Mon</td>
            <td>1/31</td>
            <td>
                <ul>
                    <li class="unit-size">Unit 3: Conditional Tests</li>
                    <li>Conditional Tests - if Statements</li>
                    <li>Checking for Equality</li>
                    <li>Checking for Inequality</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li class="onenote">OneNote: 3_Conditional Tests</li><br>
                    <li>Supplemental Resources:</li>
                    <li>Fundamentals of Python: First Programs: pp. 77-80</li>
                    <li><a href="https://docs.python.org/3/tutorial/controlflow.html#if-statements">if Statements</a></li>
                    <li><a href="https://drive.google.com/file/d/1VJeZWwxvMJQFEuHC2T4Y4cUpaR3YI-sD/view?usp=sharing">Learning Python pp. 371-372</a></li>
                </ul>
            </td>
            <td><a href="~/images/exercisedetail/Ex8_Lists_Tuples.PNG">Ex 8</a></td>
        </tr>     
        <tr>
            <td>Wed</td>
            <td>2/2</td>
            <td>
                <ul>
                    <li>The if-elif-else Chain</li>
                    <li>Logical Operators -- and/or</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li class="onenote">OneNote: 3_Conditional Tests</li><br>
                    <li>Supplemental Resources:</li>
                    <li>Fundamentals of Python: First Programs: pp. 80-84</li>
                    <li><a href="https://drive.google.com/file/d/1VJeZWwxvMJQFEuHC2T4Y4cUpaR3YI-sD/view?usp=sharing">Learning Python pp. 372-376</a></li>
                    <li><a href="https://docs.python.org/3/library/random.html">The Random Module</a></li>
                    <li><a href="https://emojipedia.org/">The emojipedia</a></li>
                </ul>
            </td>
            <td><a href="~/images/exercisedetail/Ex9-ConditionalTests.PNG">Ex 9</a></td>
        </tr> 
        <tr>
            <td>Fri</td>
            <td>2/4</td>
            <td>
                <ul>
                    <li>F-strings</li>
                    <li>More on for Loops</li>
                    <li>if Statements Cont.</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li class="onenote">OneNote: 3_Conditional Tests</li><br>
                    <li>Supplemental Resources:</li>
                    <li><a href="https://drive.google.com/file/d/1VJeZWwxvMJQFEuHC2T4Y4cUpaR3YI-sD/view?usp=sharing">Learning Python pp. 371-376</a></li>
                    <li><a href="https://docs.python.org/3/reference/lexical_analysis.html#f-strings">Formatted String Literals</a></li>
                    <li><a href="https://docs.python.org/3/tutorial/controlflow.html?highlight=range#the-range-function">The Range Function</a></li>
                </ul>
            </td>
            <td><a href="~/images/exercisedetail/Ex9b-if-elif-else_Chain.PNG">Ex 9b</a></td>
        </tr> 
        <tr>
            <td>Mon</td>
            <td>2/7</td>
            <td>
                <ul>
                    <li class="unit-size">Unit 4: Dictionaries</li>
                    <li>Dictionaries and Key Value Pairs</li>
                    <li>Modifying and Removing Values</li>
                    <li>Looping Through a Dictionary</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li class="onenote">OneNote: 4_Dictionaries</li><br>
                    <li>Supplemental Resources:</li>
                    <li>Fundamentals of Python pp. 153-156</li>
                    <li><a href="https://docs.python.org/3/reference/expressions.html#displays-for-lists-sets-and-dictionaries">Dictionaries</a></li>
                    <li><a href="https://drive.google.com/file/d/1VJeZWwxvMJQFEuHC2T4Y4cUpaR3YI-sD/view?usp=sharing">Learning Python pp. 252-254</a></li>
                </ul>
            </td>
            <td><a href="~/images/exercisedetail/Ex10-ConditionalTests-LoanCalculator.PNG">Ex 10</a></td>
        </tr> 
        <tr>
            <td>Wed</td>
            <td>2/9</td>
            <td>
                <ul>
                    <li>Exceptions</li>
                    <li>Exception Handling</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li class="onenote">OneNote: 4_Dictionaries</li><br>
                    <li>Supplemental Resources:</li>
                    <li><a href="https://docs.python.org/3/tutorial/errors.html#exceptions">Exceptions</a></li>
                    <li><a href="https://drive.google.com/file/d/1VJeZWwxvMJQFEuHC2T4Y4cUpaR3YI-sD/view?usp=sharing">Learning Python pp. 1081-1084</a></li>
                </ul>
            </td>
            <td><a href="~/images/exercisedetail/Ex11-Dictionaries.PNG">Ex 11</a></td>
        </tr>
        <tr>
            <td>Fri</td>
            <td>2/11</td>
            <td>
                <ul>
                    <li>More on Exception Handling</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li class="onenote">OneNote: 4_Dictionaries</li><br>
                    <li>Supplemental Resources:</li>
                    <li>Fundamentals of Python pp. 153-156</li>
                    <li><a href="https://docs.python.org/3/tutorial/errors.html#handling-exceptions">Handling Exceptions</a></li>
                </ul>
            </td>
            <td><a href="~/images/exercisedetail/Ex12-Exceptions.PNG">Ex 12</a></td>
        </tr>
        <tr>
            <td>Mon</td>
            <td>2/14</td>
            <td>
                <ul>
                    <li class="unit-size">Unit 5: Functions</li>
                    <li>Passing Info to a Function</li>
                    <li>Arguments and Parameters</li>
                    <li>Positional and Keyword Arguments</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li class="onenote">OneNote: 5_Functions</li><br>
                    <li>Supplemental Resources:</li>
                    <li>Fundamentals of Python pp. 54-55</li>
                    <li><a href="https://docs.python.org/3/tutorial/controlflow.html#more-on-defining-functions">Functions</a></li>
                    <li><a href="https://drive.google.com/file/d/1VJeZWwxvMJQFEuHC2T4Y4cUpaR3YI-sD/view?usp=sharing">Learning Python pp. 473-476</a></li>
                </ul>
            </td>
            <td><a href="~/images/exercisedetail/Ex12b-Exceptionsv3.PNG">Ex 12b</a></td>
        </tr>
        <tr>
            <td>Wed</td>
            <td>2/16</td>
            <td>
                <ul>
                    <li>Return Values</li>
                    <li>Returning a Dictionary</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li class="onenote">OneNote: 5_Functions</li><br>
                    <li>Supplemental Resources:</li>
                    <li>Fundamentals of Python pp. 54-55</li>
                    <li><a href="https://docs.python.org/3/reference/simple_stmts.html#the-return-statement">The Return Statement</a></li>
                    <li><a href="https://drive.google.com/file/d/1VJeZWwxvMJQFEuHC2T4Y4cUpaR3YI-sD/view?usp=sharing">Learning Python pp. 476-477</a></li>
                </ul>
            </td>
            <td><a href="~/images/exercisedetail/Ex13-Functions.PNG">Ex 13</a></td>
        </tr>        
        <tr>
            <td>Fri</td>
            <td>2/18</td>
            <td>
                <ul>
                    <li class="unit-size">Unit 6: Flask and Web Development</li>
                    <li>Intro to Flask</li>
                    <li>Hello World Flask Application</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li class="onenote">OneNote: 6_Flask and Web Dev</li><br>
                    <li>Supplemental Resources:</li>
                    <li><a href="https://drive.google.com/drive/u/0/folders/1ztmuwMShj8aB3a8CPFK3SRn6HcCZSUo3">Flask Web Development pp. 6-11</a></li>
                    <li><a href="https://www.w3schools.com/html/default.asp">HTML Examples</a></li>
                </ul>
            </td>
            <td><a href="~/images/exercisedetail/Ex14-Functions-ReturnValues.PNG">Ex 14</a></td>
        </tr>        
        <tr>
            <td>Mon</td>
            <td>2/21</td>
            <td>
                <ul>
                    <li>Flask and Templates</li>
                    <li>Intro to Bootstrap</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li class="onenote">OneNote: 6_Flask and Web Dev</li><br>
                    <li>Supplemental Resources:</li>
                    <li><a href="https://drive.google.com/drive/u/0/folders/1ztmuwMShj8aB3a8CPFK3SRn6HcCZSUo3">Flask Web Development pp. 21-29</a></li>
                    <li><a href="https://www.w3schools.com/bootstrap/bootstrap_jumbotron_header.asp">Bootstrap Tutorial</a></li>
                </ul>
            </td>
            <td><a href="~/images/exercisedetail/Ex15-GradeCenterv2.PNG">Ex 15</a></td>
        </tr> 
        <tr>
            <td>Wed</td>
            <td>2/23</td>
            <td>
                <ul>
                    <li>Flask and Forms</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li class="onenote">OneNote: 6_Flask and Web Dev</li><br>
                    <li>Supplemental Resources:</li>
                    <li><a href="https://drive.google.com/drive/u/0/folders/1ztmuwMShj8aB3a8CPFK3SRn6HcCZSUo3">Flask Web Development - Chapter 4</a></li>
                    <li><a href="https://www.w3schools.com/html/html_forms.asp">HTML Form Examples</a></li>
                </ul>
            </td>
            <td><a href="~/images/exercisedetail/Ex16-GradeCenter-Templates.PNG">Ex 16</a></td>
        </tr> 
        <tr>
            <td>Fri</td>
            <td>2/25</td>
            <td>
                <ul>
                    <li>Form Validation</li>
                    <li>Form Design and Styling</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li class="onenote">OneNote: 6_Flask and Web Dev</li><br>
                    <li>Supplemental Resources:</li>
                    <li><a href="https://drive.google.com/drive/u/0/folders/1ztmuwMShj8aB3a8CPFK3SRn6HcCZSUo3">Flask Web Development - Chapter 4</a></li>
                    <li><a href="https://color.adobe.com/explore/?filter=most-popular&time=month">Adobe Color Combinations</a></li>
                </ul>
            </td>
            <td><a href="~/images/exercisedetail/Ex17-GradeCenter-Formsv2.PNG">Ex 17</a>
                <br>
            <a href="~/images/exercisedetail/Ex17-GradeCenter-Forms-output-sp.PNG">Output</a></td>
        </tr> 
        <tr>
            <td>Mon</td>
            <td>2/28</td>
            <td>
                <ul>
                    <li>The Flask Form Library</li>
                    <li>Intro to Classes</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li class="onenote">OneNote: 6_Flask and Web Dev</li><br>
                    <li>Supplemental Resources:</li>
                    <li><a href="https://drive.google.com/drive/u/0/folders/1ztmuwMShj8aB3a8CPFK3SRn6HcCZSUo3">Flask Web Development - Chapter 4</a></li>
                </ul>
            </td>
            <td><a href="~/images/exercisedetail/Ex18-GradeCenter-FormDesign.PNG">Ex 18</a></td>
        </tr> 
        <tr>
            <td>Wed</td>
            <td>3/2</td>
            <td>
                <ul>
                    <li class="unit-size">Unit 7: Django</li>
                     <li>Django Design Principles</li>
                    <li>Intro to Django</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li class="onenote">OneNote: 7_Django</li><br>
                    <li>Supplemental Resources:</li>
                    <li><a href="https://docs.djangoproject.com/en/2.2/intro/tutorial01/#creating-a-project">Create a Django Project</a></li>
                    <li><a href="https://docs.djangoproject.com/en/2.2/intro/tutorial01/#the-development-server">Django Development Server</a></li>
                </ul>
            </td>
            <td><a href="~/images/exercisedetail/Ex19-GradeCenter-FlaskForms.PNG">Ex 19</a></a>
                <br>
            <a href="~/images/exercisedetail/Exercise19-GradeCenter-FlaskFormsOutput.PNG">Output</a></td>
        </tr>
        <tr>
            <td>Fri</td>
            <td>3/4</td>
            <td>
                <ul>
                    <li>Start a Django App</li>
                    <li>Django Admin Site</li>
                    <li>Adding Topics</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li class="onenote">OneNote: 7_Django</li><br>
                    <li>Supplemental Resources:</li>
                    <li><a href="https://docs.djangoproject.com/en/2.2/topics/db/models/">Django Models</a></li>
                    <li><a href="https://docs.djangoproject.com/en/2.2/intro/tutorial02/#introducing-the-django-admin">The Django Admin Page</a></li>
                </ul>
            </td>
            <td><a href="~/images/exercisedetail/Exercise20-Django_Intro.PNG">Ex 20</a></td>
        </tr>
        <tr>
            <td colspan="5" style="text-align: center;">Mar. 7-13: Spring Break - No Class</td>
        </tr>  
        <tr>
            <td>Mon</td>
            <td>3/14</td>
            <td>
                <ul>
                    <li>Lab Day -- No Class Meeting</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>Flask Project 1 Due</li>
                </ul>
            </td>
            <td><a href="~/images/exercisedetail/Prj1-Flask-BookCatalog.PNG">Prj 1</a></td>
        </tr> 
        <tr>
            <td>Wed</td>
            <td>3/16</td>
            <td>
                <ul>
                    <li>Models and Database Relationships</li>
                    <li>The Django Shell and Database</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li class="onenote">OneNote: 7_Django</li><br>
                    <li>Supplemental Resources:</li>
                    <li><a href="https://docs.djangoproject.com/en/2.2/intro/tutorial02/#playing-with-the-api">Playing with the API - Django Shell</a></li>
                </ul>
            </td>
            <td><a href="~/images/exercisedetail/Exercise21-CreateAnApp.PNG">Ex 21</a>
                <br>
                <a href="~/images/exercisedetail/Exercise21-CreateAnAppOutput.PNG">Output</a></td>
        </tr>
        <tr>
            <td>Fri</td>
            <td>3/18</td>
            <td>
                <ul>
                    <li>Create the Home Page</li>
                    <li>Mapping a URL</li>
                    <li>Writing a View</li>
                    <li>Writing a Template</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li class="onenote">OneNote: 7_Django</li><br>
                    <li>Supplemental Resources:</li>
                    <li><a href="https://docs.djangoproject.com/en/2.2/intro/tutorial01/#write-your-first-view">Writing Views and Mapping URLs</a></li>
                </ul>
            </td>
            <td><a href="~/images/exercisedetail/Exercise22-DjangoShell_DB.PNG">Ex 22</a></td>
        </tr>
        <tr>
            <td>Mon</td>
            <td>3/21</td>
            <td>
                <ul>
                    <li>Template Inheritance</li>
                    <li>Creating Additional Pages (The Topics Page)</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li class="onenote">OneNote: 7_Django</li><br>
                    <li>Supplemental Resources:</li>
                    <li><a href="https://docs.djangoproject.com/en/2.2/ref/templates/language/#templates">Django Templates and Variables</a></li>
                </ul>
            </td>
            <td><a href="~/images/exercisedetail/Exercise23-TheHomePage.PNG">Ex 23</a></td>
        </tr>
        <tr>
            <td>Wed</td>
            <td>3/23</td>
            <td>
                <ul>
                    <li>Deploy an App with Heroku</li>
                    <li>Config a PostgreSQL database</li>
                    <li>Introduction to Git</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li class="onenote">OneNote: 7_Django</li><br>
                    <li>Supplemental Resources:</li>
                    <li><a href="https://heroku.com">Heroku</a></li>
                    <li><a href="https://devcenter.heroku.com/articles/heroku-cli">The Heroku CLI</a></li>
                </ul>
            </td>
            <td><a href="~/images/exercisedetail/Exercise24-HTMLAndPages.PNG">Ex 24</a></td>
        </tr>
        <tr>
            <td>Fri</td>
            <td>3/25</td>
            <td>
                <ul>
                    <li>Heroku Dataclips</li>
                    <li>Tableau visualizations</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>Supplemental Resources:</li>
                    <li><a href="https://www.tableau.com/">Tableau</a></li>
                </ul>
            </td>
            <td><a href="~/images/exercisedetail/Exercise25-PostgreSQL.PNG">Ex 25</a>
            <br>
                <a href="~/images/exercisedetail/Exercise25-PostgreSQL-ExampleOutput.PNG">Output</a>
            </td>
        </tr>
        <tr>
            <td>Mon</td>
            <td>3/28</td>
            <td>
                <ul>
                    <li>Lab Day -- No Class Meeting</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>Django Project 2 Due</li>
                </ul>
            </td>
            <td><a href="~/images/exercisedetail/Prj2-Django.PNG">Prj 2</a>
            <br>
            <a href="~/images/exercisedetail/Prj2-Django-Output.PNG">Admin Output</a></td>
        </tr> 
        <tr>
            <td>Wed</td>
            <td>3/30</td>
            <td>
                <ul>
                    <li>Creating Individual Pages</li>
                    <li>The Topic URL Pattern</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li class="onenote">OneNote: 7_Django</li><br>
                    <li>Supplemental Resources:</li>
                    <li><a href="https://docs.djangoproject.com/en/2.2/intro/tutorial01/#write-your-first-view">Writing Views and Mapping URLs</a></li>
                    <li><a href="https://docs.djangoproject.com/en/2.2/ref/templates/language/#templates">Django Templates and Variables</a></li>
                </ul>
            </td>
            <td><a href="~/images/exercisedetail/Exercise25b-DjangoAndTableau.PNG">Optional Ex 25b</a>
            <br>
                <a href="~/images/exercisedetail/Exercise25b-DjangoAndTableauOutput.PNG">Output</a></td>
        </tr>
        <tr>
            <td>Fri</td>
            <td>4/1</td>
            <td>
                <ul>
                    <li>Django Forms</li>
                    <li>GET and POST Requests</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li class="onenote">OneNote: 7_Django</li><br>
                    <li>Supplemental Resources:</li>
                    <li><a href="https://docs.djangoproject.com/en/2.2/topics/forms/#forms-in-django">Django Forms</a></li>
                    <li><a href="https://docs.djangoproject.com/en/2.2/topics/forms/#get-and-post">GET and POST</a></li>
                </ul>
            </td>
            <td><a href="~/images/exercisedetail/Exercise26-IndividualPages.PNG">Ex 26</a></td>
        </tr>
        <tr>
            <td>Mon</td>
            <td>4/4</td>
            <td>
                <ul>
                    <li>More on Django Forms</li>
                    <li>Adding New Entries</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li class="onenote">OneNote: 7_Django</li><br>
                    <li>Supplemental Resources:</li>
                    <li><a href="https://docs.djangoproject.com/en/2.2/topics/forms/#working-with-form-templates">Form Templates</a></li>
                </ul>
            </td>
            <td><a href="~/images/exercisedetail/Exercise27-DjangoForms.PNG">Ex 27</a></td>
        </tr>
        <tr>
            <td>Wed</td>
            <td>4/6</td>
            <td>
                <ul>
                    <li>Editing Entries</li>
                    <li>Deleting Topics</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li class="onenote">OneNote: 7_Django</li><br>
                    <li>Supplemental Resources:</li>
                    <li><a href="https://docs.djangoproject.com/en/2.2/topics/forms/#working-with-form-templates">Form Templates</a></li>
                </ul>
            </td>
            <td><a href="~/images/exercisedetail/Exercise28-AddingNewEntries.PNG">Ex 28</a></td>
        </tr>
        <tr>
            <td>Fri</td>
            <td>4/8</td>
            <td>
                <ul>
                    <li>Django with Bootstrap</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li class="onenote">OneNote: 7_Django</li><br>
                    <li>Supplemental Resources:</li>
                    <li><a href="https://www.w3schools.com/bootstrap/default.asp">Bootstrap Tutorial</a></li>
                </ul>
            </td>
            <td><a href="~/images/exercisedetail/Exercise29-FormEditingV2.PNG">Ex 29</a></td>
        </tr>
        <tr>
            <td>Mon</td>
            <td>4/11</td>
            <td>
                <ul>
                    <li>Lab Day -- No Class Meeting</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>Django Project 3 Due</li>
                </ul>
            </td>
            <td><a href="~/images/exercisedetail/Prj3-Django.PNG">Prj 3</a></td>
        </tr>
        <tr>
            <td colspan="5" style="text-align: center;">Apr. 13-17: No Class - Easter Break</td>
        </tr>
        <tr>
            <td>Mon</td>
            <td>4/18</td>
            <td>
                <ul>
                    <li>Styling the new_topic Page</li>
                    <li>Styling the topics Page</li>
                    <li>Styling the Entries</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li class="onenote">OneNote: 7_Django</li><br>
                    <li>Supplemental Resources:</li>
                    <li><a href="https://bootswatch.com/">Free Bootstrap Themes</a></li>
                </ul>
            </td>
            <td><a href="~/images/exercisedetail/Exercise30-DjangoWithBootstrap.PNG">Ex 30</a></td>
        </tr>
        <tr>
            <td>Wed</td>
            <td>4/20</td>
            <td>
                <ul>
                    <li>Bootstrap Alerts</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li class="onenote">OneNote: 7_Django</li><br>
                    <li>Supplemental Resources:</li>
                    <li><a href="https://getbootstrap.com/docs/4.0/components/alerts/">Bootstrap Alerts</a></li>
                    <li><a href="https://docs.djangoproject.com/en/3.2/ref/contrib/messages/">Messages Framework</a></li>
                </ul>
            </td>
            <td><a href="~/images/exercisedetail/Exercise31-StylingWithDjango.PNG">Ex 31</a>
                <br>
                <a href="~/images/exercisedetail/Exercise31-StylingWithDjangoOutput.PNG">Output</a></td>
        </tr>
        <tr>
            <td>Fri</td>
            <td>4/22</td>
            <td>
                <ul>
                    <li>Advanced Topic: Python Classes</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li class="onenote">OneNote: 8_Advanced Topics</li><br>
                    <li>Supplemental Resources:</li>
                    <li><a href="https://drive.google.com/file/d/1VJeZWwxvMJQFEuHC2T4Y4cUpaR3YI-sD/view?usp=sharing">Learning Python pp. 797-814</a></li>
                </ul>
            </td>
            <td><a href="~/images/exercisedetail/Exercise32-BootstrapAlerts.PNG">Ex 32</a>
                <br>
                <a href="~/images/exercisedetail/Exercise32-BootstrapAlertsOutput.PNG">Output</a></td>
        </tr>
        <tr>
            <td>Mon</td>
            <td>4/25</td>
            <td>
                <ul>
                    <li>Final Exam Discussion</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li class="onenote">Discuss Final Exam</li><br>
                </ul>
            </td>
            <td><a href="~/images/exercisedetail/Exercise33-Classes.PNG">Ex 33</a></td>
        </tr>
        <tr>
            <td>Wed</td>
            <td>4/27</td>
            <td>
                <ul>
                    <li>Lab Day -- No Class Meeting</li>
                </ul>
            </td>
            <td></td>
            <td><a href="~/images/exercisedetail/Prj4-Django.PNG">Prj 4</a></td>
        </tr>
        <tr>
            <td>Fri</td>
            <td>4/29</td>
            <td>
                <ul>
                    <li>No Class Meeting</li>
                    <li>Begin studying for final exam project</li>
                </ul>
            </td>
            <td>
                <ul>
                    
                </ul>
            </td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td colspan="4" style="text-align: center;">CIS 240 Final Exam: Tuesday, May 3: 8:30 - 11:00 AM</td>
        </tr>
    </tbody>
</table>