@page
@{
    ViewData["Title"] = "240";
}

<div class="container">
    <div class ="page-header">
        <h1>CIS 240 Fall 2023 Schedule</h1>
        <p><a href="">Course OneNote Notebook - For Fall 2023</a></p>
    </div>    
</div>

<table class="hidden">
</table>