@page
@{
    ViewData["Title"] = "335";
}

<div class="container">
    <div class ="page-header">
        <h1>CIS 335 Fall 2021 Schedule</h1>
        <p><a href="https://catamountwcu-my.sharepoint.com/:o:/g/personal/wakapakos_wcu_edu/Eml7BzUAX1xCmmqehO1au4MBCHdStCdAQSvEb6iVjjvpMg?e=uIzRLy">Course OneNote Notebook - For Fall 2021</a></p>
    </div>    
</div>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Class Meeting</th>
            <th>Units and Topics</th>
            <th>Resources</th>
            <th>Due</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Thursday, Aug 26</td>
            <td>
                <ul>
                    <li class="unit-size">Unit 1: Introduction to Virtualization</li>
                    <li>Class organization and groups</li>
                    <li>Overview of Springfield VMware vSphere system</li><br>
                    <li>Deploy a virtual machine</li>
                    <li>Install and update Cent OS</li>
                    <li>Confirm Setup and Connectivity of VMs</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li class="onenote">OneNote: Groups and Tools</li>
                    <li><a href="https://catamountwcu-my.sharepoint.com/:o:/g/personal/wakapakos_wcu_edu/Eml7BzUAX1xCmmqehO1au4MBCHdStCdAQSvEb6iVjjvpMg?e=uIzRLy">Group Assignments</a></li>
                    <li><a href="https://vault-info.wcu.edu/">Vault</a></li>
                    <li><a href="https://virtual.wcu.edu/">VCAT</a></li><br>
                    <li class="onenote">OneNote: Week 1</li><br>
                    <li>Create a Virtual Machine</li>
                    <li>Confirm Setup and Connectivity</li>
                </ul>
            </td>
            <td></td>
        </tr>
        <tr>
            <td>Thursday, Sept 2</td>
            <td>
                <ul>
                    <li>Introduction to VM Templates</li>
                </ul>   
            </td>
                <td>
                    <ul>
                        <li class="onenote">OneNote: Week 2</li><br>
                        <li>Create a VM Template</li>
                        <li>Create and Deploy From Templates</li>
                    </ul>
                </td>
                <td>WA 1A<br>WA 1B</td>
        </tr>
        <tr>
            <td>Thursday, Sept 9</td>
            <td>
                <ul>
                    <li>Hardware in an Enterprise Data Center</li><br>
                    <li>Linux Apache Server</li>
                    <li>Configure Client VM with GUI</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li class="onenote">OneNote: Week 3</li><br>
                    <li>Supplemental Resources:</li>
                    <li><a href="https://www.backblaze.com/blog/how-reliable-are-ssds/">SSD Reliability</a></li>
                    <li><a href="https://en.wikipedia.org/wiki/Standard_RAID_levels">RAID Levels</a></li>
                    <li><a href="https://computingforgeeks.com/raid-vs-lvm-vs-zfs-comparison/">RAID - LVM - ZFS</a></li>
                </ul>
            </td>
            <td>WA 2</td>
        </tr>
        <tr>
            <td>Thursday, Sept 16</td>
            <td>
                <ul>
                    <li>Create a LAMP web application system</li>
                    <li>LAMP - Linux/Apache/MySQL/PHP</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li class="onenote">OneNote: Week 4</li><br>
                    <li>Config the Webmin Repository</li>
                    <li>Config MariaDB</li>
                    <li>Install PHP and Wordpress</li>
                </ul>
            </td>
            <td>WA 3</td>
        </tr>
        <tr>
            <td>Thursday, Sept 23</td>
            <td>
                <ul>
                    <li class="unit-size">Unit 2: Windows Server</li>
                    <li>Installing Windows Server 2016</li>
                    <li>Domain Name System (DNS) Configuration</li><br>
                    <li class="assignmentdue">Work on Lab 1 - Due Mon 9/27</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li class="onenote">OneNote: Labs</li>
                    <li class="onenote">OneNote: Week 5</li><br>
                    <li>DNS Server Configuration</li>
                    <li>Supplemental Resources:</li>
                    <li>Mastering Windows Server 2016: p. 179-199</li>
                </ul>
            </td>
            <td>WA 4</td>
        </tr>
        <tr>
            <td>Thursday, Sept 30</td>
            <td>
                <ul>
                    <li>IP Addressing and Subnetting</li>
                    <li>GROUP DNS Server Assignment and Cleanup</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li class="onenote">OneNote: Week 6</li><br>
                    <li>Supplemental Resources:</li>
                    <li><a href="https://youtu.be/QxGTQVZp77U">Binary Math</a></li>
                    <li><a href="https://youtu.be/_bn0CF5zqvo">IPv4 Addresses and Subnetting</a></li>
                    <li><a href="https://youtu.be/ZxAwQB8TZsM">Seven Second Subnetting</a></li>
                </ul>
            </td>
            <td>WA 5</td>
        </tr>     
        <tr>
            <td>Thursday, Oct 7</td>
            <td>
                <ul>
                    <li>Configure New DHCP Server Profile</li>
                    <li>Install DHCP on group DNS Server</li>
                    <li>Deploy New VM from Template</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li class="onenote">OneNote: Week 7</li><br>
                    <li>Supplemental Resources:</li>
                    <li>Mastering Windows Server 2016: p. 202-209</li>
                </ul>
            </td>
            <td>WA 6</td>
        </tr>
        <tr>
            <td>Thursday, Oct 14</td>
            <td>
                <ul>
                    <li>Review for the Midterm Exam </li>
                    <li>Midterm will be available on Canvas</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li class="assignmentdue">Complete Midterm by Sun (10/17)</li>
                </ul>
            </td>
            <td>WA 7</a></td>
        </tr>
        <tr>
            <td colspan="4" style="text-align: center;">Fall Break - No Class: Oct 18 - 24</td>
        </tr>
        <tr>
            <td>Thursday, Oct 28</td>
            <td>
                <ul>
                    <li>Active Directory</li>
                    <li>Deploy and Config a Domain Controller</li>
                    <li>Organizational Unit Structures</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li class="onenote">OneNote: Week 9</li><br>
                    <li>Supplemental Resources:</li>
                    <li><a href="https://www.youtube.com/watch?v=OTpbQkW3kj4&feature=youtu.be">Introduction to Active Directory</a></li>
                    <li>Mastering Windows Server 2016: p. 339-344; 351-354</li>
                </ul>
            </td>
            <td></td>
        </tr>     
        <tr>
            <td>Thursday, Nov 4</td>
            <td>
                <ul>
                    <li>File Server and Permissions Testing</li>
                    <li>Deploy a Windows 10 Desktop VM</li><br>
                    <li>Work on Lab 2 & WA 9</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li class="onenote">OneNote: Week 10</li>
                    <li class="onenote">OneNote: Labs</li><br>
                </ul>
            </td>
            <td>WA 8A <br>WA 8B</td>
        </tr>
        <tr>
            <td>Thursday, Nov 11</td>
            <td>
                <ul>
                    <li>Group Policy Objects</li>
                    <li>User Configuration Policies</li>
                    <li>Administrative Templates</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li class="onenote">OneNote: Week 11</li><br>
                    <li>Mastering Windows Server 2016: p. 373-376</li>
                </ul>
            </td>
            <td>Lab 2 <br>WA 9</td>
        </tr>  
        <tr>
            <td>Thursday, Nov 18</td>
            <td>
                <ul>
                    <li class="unit-size">Unit 3: Serverless Computing</li>
                    <li>Microsoft Azure</li>
                    <li>Function Platform as a Service (fPaaS)</li>
                    <li>Azure Functions</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li class="onenote">OneNote: Week 12</li><br>
                    <li>Supplemental Resources:</li>
                    <li><a href="https://azure.microsoft.com/en-us/free/students/">Azure For Students</a></li>
                    <li><a href="https://docs.microsoft.com/en-us/azure/azure-functions/functions-run-local?tabs=windows%2Ccsharp%2Cbash#v2">Azure Functions Core Tools</a></li>
                    <li><a href="https://code.visualstudio.com/">VS Code</a></li>
                    <li><a href="https://www.python.org/">Python 3.9</a></li>
                </ul>
            </td>
            <td>WA 10</td>
        </tr>
        <tr>
            <td colspan="4" style="text-align: center;">Thanksgiving Break - No Class: Nov. 24 - 28</td>
        </tr> 
        <tr class="collapse">
            <td>Thursday, Dec 2</td>
            <td>
                <ul>
                    <li>More on Azure Functions</li>
                    <li>Web scraping</li>
                    <li>Work on WA 12 & Lab 3</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li class="onenote">OneNote: 4_Dictionaries</li><br>
                    <li>Supplemental Resources:</li>
                    <li>Fundamentals of Python pp. 153-156</li>
                    <li><a href="https://docs.python.org/3/reference/expressions.html#displays-for-lists-sets-and-dictionaries">Dictionaries</a></li>
                    <li><a href="https://drive.google.com/file/d/1VJeZWwxvMJQFEuHC2T4Y4cUpaR3YI-sD/view?usp=sharing">Learning Python pp. 252-254</a></li>
                </ul>
            </td>
            <td>WA 11</td>
        </tr> 
        <tr class="collapse">
            <td>Thursday, Dec 9</td>
            <td>
                <ul>
                    <li>Review for final exam</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li class="onenote">CIS 335 Final Exam Information</li><br>
                    <li>CIS Final Exam: </li>
                    <li>Final Exam review slides and practice questions available on Canvas</li>
            </td>
            <td>Lab 3 <br>WA 12</td>
        </tr>
        
        <tr class="collapse">
            <td colspan="4" style="text-align: center;">CIS Final Exam: Thursday, December 16: 6:00 - 8:30 PM</td>
        </tr>
    </tbody>
</table>