@page
@{
    ViewData["Title"] = "335";
}

<div class="container">
    <div class ="page-header">
        <h1>CIS 335 Fall 2022 Schedule</h1>
        <p><a href="https://catamountwcu-my.sharepoint.com/:o:/g/personal/wakapakos_wcu_edu/EiIeoNgsohFNsU_PKJ9bq2ABbYtCod9LNCd-mPgegevJCw?e=8ueeI0">Course OneNote Notebook - For Fall 2022</a></p>
    </div>    
</div>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Week</th>
            <th>Units and Topics</th>
            <th>Resources</th>
            <th>Due</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Week 1</td>
            <td>
                <ul>
                    <li class="unit-size">Unit 1: Introduction to Virtualization</li>
                    <li>Class organization and groups</li>
                    <li>Overview of Springfield VMware vSphere system</li><br>
                    <li>Deploy a virtual machine</li>
                    <li>Install and update Cent OS</li>
                    <li>Confirm Setup and Connectivity of VMs</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li class="onenote">OneNote: Groups and Tools</li>
                    <li><a href="https://catamountwcu-my.sharepoint.com/:o:/g/personal/wakapakos_wcu_edu/EiIeoNgsohFNsU_PKJ9bq2ABbYtCod9LNCd-mPgegevJCw?e=8ueeI0">Group Assignments</a></li>
                    <li><a href="https://vault-info.wcu.edu/">Vault</a></li>
                    <li><a href="https://virtual.wcu.edu/">VCAT</a></li><br>
                    <li class="onenote">OneNote: Week 1</li><br>
                    <li>Supplemental Resources:</li>
                    <li>Hands-On Microsoft Windows Server 2019: p. 155-167</li>
                </ul>
            </td>
            <td></td>
        </tr>
        <tr>
            <td>Week 2</td>
            <td>
                <ul>
                    <li>Introduction to VM Templates</li><br>
                    <li>Linux Apache Server</li>
                    <li>Configure Client VM with GUI</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li class="onenote">OneNote: Week 2</li>
                    <li>Create a VM Template</li>
                    <li>Create and Deploy From Templates</li><br>
                    <li>Supplemental Resources:</li>
                    <li>Hands-On Microsoft Windows Server 2019: p. 185-190</li>
                </ul>
            </td>
            <td class="assignmentdue">Due Mon (8/29): WA 1A & WA 1B</td>
        </tr>
        <tr>
            <td>Week 3</td>
            <td>
                <ul>
                    <li>Create a LAMP web application system</li>
                    <li>LAMP - Linux/Apache/MySQL/PHP</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li class="onenote">OneNote: Week 3</li><br>
                    <li>Config the Webmin Repository</li>
                    <li>Config MariaDB</li>
                    <li>Install PHP and Wordpress</li>
                </ul>
            </td>
            <td class="assignmentdue">Due Mon (9/5): WA 2A & 2B</td>
        </tr>
        <tr>
            <td>Week 4</td>
            <td>
                <ul>
                    <li class="unit-size">Unit 2: Windows Server</li>
                    <li>Installing Windows Server 2022</li>
                    <li>Domain Name System (DNS) Configuration</li><br>
                    <li>Work on Lab 1</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li class="onenote">OneNote: Labs</li>
                    <li class="onenote">OneNote: Week 4</li><br>
                    <li>Supplemental Resources:</li>
                    <li>Hands-On Microsoft Windows Server 2019: p. 506-528</li>
                </ul>
            </td>
            <td class="assignmentdue">Due Mon (9/12): WA 3</td>
        </tr>
        <tr class="collapse">
            <td>Week 5</td>
            <td>
                <ul>
                    <li>Hardware in an Enterprise Data Center</li>
                    <li>Configure and Manage Data Storage</li>

                </ul>
            </td>
            <td>
                <ul>
                    <li class="onenote">OneNote: Week 5</li><br>
                    <li>Supplemental Resources:</li>
                    <li>Hands-On Microsoft Windows Server 2019: p. 421-431</li>
                    <li><a href="https://www.backblaze.com/blog/how-reliable-are-ssds/">SSD Reliability</a></li>
                    <li><a href="https://en.wikipedia.org/wiki/Standard_RAID_levels">RAID Levels</a></li>
                </ul>
            </td>
            <td class="assignmentdue">Due Mon (9/19): Lab 1 and WA 4</td>
        </tr>
        <tr class="collapse">
            <td>Week 6</td>
            <td>
                <ul>
                    <li>IP Addressing and Subnetting</li>
                    <li>GROUP DNS Server Assignment and Cleanup</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li class="onenote">OneNote: Week 6</li><br>
                    <li>Supplemental Resources:</li>
                    <li><a href="https://youtu.be/QxGTQVZp77U">Binary Math</a></li>
                    <li><a href="https://youtu.be/_bn0CF5zqvo">IPv4 Addresses and Subnetting</a></li>
                    <li><a href="https://youtu.be/ZxAwQB8TZsM">Seven Second Subnetting</a></li>
                </ul>
            </td>
            <td class="assignmentdue">Due Mon (9/26): WA 5</td>
        </tr>   
        <tr class="collapse">
            <td>Week 7</td>
            <td>
                <ul>
                    <li>Configure New DHCP Server Profile</li>
                    <li>Install DHCP on group DNS Server</li>
                    <li>Deploy New VM from Template</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li class="onenote">OneNote: Week 7</li><br>
                    <li>Supplemental Resources:</li>
                    <li>Hands-On Microsoft Windows Server 2019: p. 542-561</li>
                </ul>
            </td>
            <td class="assignmentdue">Due Mon (10/3): WA 6</td>
        </tr>
        <tr class="collapse">
            <td>Week 8</td>
            <td>
                <ul>
                    <li>Review for the Midterm Exam </li>
                    <li>Midterm will be available on Canvas</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>Midterm Study Guide Available on Canvas</li>
                </ul>
            </td>
            <td class="assignmentdue">Due Mon (10/10): WA 7<br> 
                                      Due Sun (10/16): Lab 1
            </td>
        </tr>
        <tr class="collapse">
            <td>Week 9</td>
            <td>
                <ul>
                    <li>Active Directory</li>
                    <li>Deploy and Config a Domain Controller</li>
                    <li>Organizational Unit Structures</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li class="onenote">OneNote: Week 9</li><br>
                    <li>Supplemental Resources:</li>
                    <li><a href="https://www.youtube.com/watch?v=OTpbQkW3kj4&feature=youtu.be">Introduction to Active Directory</a></li>
                    <li>Hands-On Microsoft Windows Server 2019: p. 223-250</li>
                </ul>
            </td>
            <td></td>
        </tr>     
        <tr class="collapse">
            <td>Week 10</td>
            <td>
                <ul>
                    <li>File Server and Permissions Testing</li>
                    <li>Deploy a Windows 10 Desktop VM</li><br>
                    <li>Work on Lab 2 & WA 9</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li class="onenote">OneNote: Week 10</li>
                    <li class="onenote">OneNote: Labs</li><br>
                </ul>
            </td>
            <td class="assignmentdue">Due Mon (10/31): WA 8A & WA 8B</td>
        </tr>
        <tr class="collapse">
            <td>Week 11</td>
            <td>
                <ul>
                    <li>Group Policy Objects</li>
                    <li>User Configuration Policies</li>
                    <li>Administrative Templates</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li class="onenote">OneNote: Week 11</li><br>
                    <li>Supplemental Resources:</li>
                    <li>Hands-On Microsoft Windows Server 2019: p. 706-722</li>
                </ul>
            </td>
            <td class="assignmentdue">Due Mon (11/7): Lab 2 & WA 9</td>
        </tr>  
        <tr class="collapse">
            <td>Week 12</td>
            <td>
                <ul>
                    <li class="unit-size">Unit 3: Containers & Serverless Computing</li><br>
                    <li>Docker</li>
                    <li>Microsoft Azure</li>
                    <li>Function Platform as a Service (fPaaS)</li>
                    <li>Azure Functions</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li class="onenote">OneNote: Week 12</li><br>
                    <li>Supplemental Resources:</li>
                    <li>Hands-On Microsoft Windows Server 2019: p. 670-681</li>
                    <li><a href="https://azure.microsoft.com/en-us/free/students/">Azure For Students</a></li>
                    <li><a href="https://docs.microsoft.com/en-us/azure/azure-functions/functions-run-local?tabs=windows%2Ccsharp%2Cbash#v2">Azure Functions Core Tools</a></li>
                    <li><a href="https://code.visualstudio.com/">VS Code</a></li>
                    <li><a href="https://www.python.org/">Python 3.8</a></li>
                </ul>
            </td>
            <td class="assignmentdue">Due Mon (11/14): WA 10</td>
        </tr>
        <tr class="collapse">
            <td>Week 13</td>
            <td colspan="3" style="text-align: center;">Thanksgiving - No Class</td>
        </tr> 
        <tr class="collapse">
            <td>Week 14</td>
            <td>
                <ul>
                    <li>More on Docker and Azure Functions</li>
                    <li>Web scraping</li><br>
                    <li>Work on Lab 3</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li class="onenote">OneNote: Labs</li>
                </ul>
            </td>
            <td class="assignmentdue">Due Mon (11/28): WA 11 & WA 12</td>
        </tr> 
        <tr class="collapse">
            <td>Week 15</td>
            <td>
                <ul>
                    <li>Final Exam Review Session</li>
                    <li>Practice Exam for Final</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li class="onenote">CIS 335 Final Exam Information</li><br>
                    <li>Study Guide Available on Canvas</li>
            </td>
            <td class="assignmentdue">Due Mon (12/5): Lab 3</td>
        </tr>
        
        <tr class="collapse">
            <td colspan="4" style="text-align: center;">CIS 335 Final Exam: Thursday, December 15: 6:00 - 8:30 PM</td>
        </tr>
    </tbody>
</table>