@page
@{
    ViewData["Title"] = "340 Schedule";
}

<div class="container">
    <div class ="page-header">
        <h1>CIS 340 Fall 2024 Schedule</h1>
        <h5><a href="https://cis340.wkapakos.info/">Course Notebook</a></h5>
    </div>    
</div>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Week</th>
            <th>Units and Topics</th>
            <th>Resources</th>
            <th>Due</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Week 1</td>
            <td>
                <ul>
                    <li class="unit-size">Unit 1: Getting Started with Jupyter Notebooks</li>
                    <li>VS Code</li>
                    <li>Jupyter Notebooks</li><br>
                    <li class="unit-size">Unit 2: NumPy</li>
                    <li>The Data Analytics Ecosystem</li>
                    <li>NumPy ndarrays</li>
                    <li>NumPy Statistical Functions</li>
                    <li>Basic Indexing and Slicing</li>
                    <li>Importing Data Into NumPy Arrays</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li class="onenote">1 Getting Started</li>
                    <li><a href="https://code.visualstudio.com/">VS Code</a></li>
                    <li><a href="https://www.python.org/">Python</a></li>
                    <li><a href="https://porsche.wcu.edu/">VCAT</a></li><br>
                    <li class="onenote">2 NumPy</li>
                </ul>
            </td>
            <td></td>
        </tr>
        <tr>
            <td>Week 2</td>
            <td>
                <ul>
                    <li class="unit-size">Unit 3: Pandas</li>
                    <li>Reading CSV Files</li>
                    <li>Pandas DataFrames</li><br>
                    <li>Reading Excel Files</li>
                    <li>Bringing Code into Notebooks</li>
                    <li>DataFrame Attributes</li>
                    <li>Understanding Data Types</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li class="onenote">Pandas</li>
                </ul>
            </td>
            <td class="assignmentdue">Due Fri (8/30):<br> Ex 1 <br> Ex 2.1 <br> Quiz</td>
        </tr>
        <tr>
            <td>Week 3</td>
            <td>
                <ul>
                    <li>Summary Stats of a DataFrame</li>
                    <li>Min, Mean, Sum, and Describe Methods</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li class="onenote">Pandas</li><br>
                </ul>
            </td>
            <td class="assignmentdue">Due Fri (9/6):<br> Ex 3.1 <br> Ex 3.2 <br> Quiz</td>
        </tr>
        <tr>
            <td>Week 4</td>
            <td>
                <ul>
                    <li>Filtering DataFrames</li>
                    <li>Filtering: query()</li>
                    <li>Operators</li>
                    <li>Checking Filter with unique()</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li class="onenote">Pandas</li><br>
                </ul>
            </td>
            <td class="assignmentdue">Due Fri (9/13):<br> Ex 3.4</td>
        </tr>
        <tr>
            <td>Week 5</td>
            <td>
                <ul>
                    <li>Sorting a DataFrame</li>
                    <li>Changing Data Types</li>
                    <li>Top N with iloc[]</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li class="onenote">Pandas</li><br>
                </ul>
            </td>
            <td class="assignmentdue">Due Fri (9/20):<br> Ex 3.5</td>
        </tr>
        <tr>
            <td>Week 6</td>
            <td>
                <ul>
                    <li>Lab 1 - Filtering and Sorting</li>
                </ul>
            </td>
            <td>
                <ul>
                </ul>
            </td>
            <td class="assignmentdue">Due Fri (9/27):<br>Lab 1</td>
        </tr>
        <tr>
            <td>Week 7</td>
            <td>
                <ul>
                    <li>Groupby Operations - One Column</li>
                    <li>Adding New Columns to DataFrames</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li class="onenote">Pandas</li><br>
                    <li>Academic Conference - No Meetings For This Week</li>
                </ul>
            </td>
            <td></td>
        </tr>
        <tr>
            <td>Week 8</td>
            <td>
                <ul>
                    <li>Groupby Operations - Two Columns</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li class="onenote">Pandas</li><br>
                </ul>
            </td>
            <td class="assignmentdue">Due Fri (10/10):<br> Quiz <br> Ex 3.6 <br> Ex 3.7</td>
        </tr>
        <tr>
            <td colspan="5" style="text-align: center;">October 14-20: Fall Break - No Class</td>
        </tr> 
        <tr>
            <td>Week 9</td>
            <td>
                <ul>
                    <li>Lab 2 - Groupby Lab</li>
                </ul>
            </td>
            <td>
                <ul>
                </ul>
            </td>
            <td class="assignmentdue">Due Fri (10/25):<br>Quiz<br>Lab 2</td>
        </tr>  
        <tr>
            <td>Week 10</td>
            <td>
                <ul>
                    <li>Screenscraping</li>
                    <li>Data Cleansing</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li class="onenote">Pandas</li>
                </ul>
            </td>
            <td class="assignmentdue">Due Fri (11/1):<br>Ex 3.8</td>
        </tr>  
        <tr>
            <td>Week 11</td>
            <td>
                <ul>
                    <li>Dealing with Missing Data</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li class="onenote">Pandas</li>
                </ul>
            </td>
            <td class="assignmentdue">Due Fri (11/8):<br>Ex 3.9</td>
        </tr>  
        <tr>
            <td>Week 12</td>
            <td>
                <ul>
                    <li>Data Cleansing II</li>
                    <li>Inconsistent Data</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li class="onenote">Pandas</li>
                </ul>
            </td>
            <td class="assignmentdue">Due Fri (11/15):<br>Quiz<br>Ex 3.10</td>
        </tr>  
        <tr>
            <td>Week 13</td>
            <td>
                <ul>
                    <li class="unit-size">Unit 4: Bokeh</li>
                    <li>Bokeh Bar Charts</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li class="onenote">Bokeh</li>
                </ul>
            </td>
            <td class="assignmentdue">Due Fri (11/22):<br>Ex 4.1</td>
        </tr>  
        <tr>
            <td>Week 14</td>
            <td>
                <ul>
                    <li>Bokeh Group Bar Charts</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li class="onenote">Bokeh</li>
                </ul>
            </td>
            <td class="assignmentdue">Due Fri (11/29):<br>Ex 4.2</td>
        </tr>  
        <tr>
            <td>Week 15</td>
            <td>
                <ul>
                    <li>Final Exam Report</li>
                </ul>
            </td>
            <td></td>
            <td class="assignmentdue">Due Fri (12/6):<br>Final Exam Report</td>
        </tr>  
    </tbody>
</table>