@page
@{
    ViewData["Title"] = "340 Schedule";
}

<div class="container">
    <div class ="page-header">
        <h1>CIS 340 Fall 2024 Schedule</h1>
        <h5><a href="https://cis340.wkapakos.info/">Course Notebook</a></h5>
    </div>    
</div>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Week</th>
            <th>Units and Topics</th>
            <th>Resources</th>
            <th>Due</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Week 1</td>
            <td>
                <ul>
                    <li class="unit-size">Unit 1: Getting Started with Jupyter Notebooks</li>
                    <li>VS Code</li>
                    <li>Jupyter Notebooks</li><br>
                    <li class="unit-size">Unit 2: NumPy</li>
                    <li>The Data Analytics Ecosystem</li>
                    <li>NumPy ndarrays</li>
                    <li>NumPy Statistical Functions</li>
                    <li>Basic Indexing and Slicing</li>
                    <li>Importing Data Into NumPy Arrays</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li class="onenote">1 Getting Started</li>
                    <li><a href="https://code.visualstudio.com/">VS Code</a></li>
                    <li><a href="https://www.python.org/">Python</a></li>
                    <li><a href="https://porsche.wcu.edu/">VCAT</a></li><br>
                    <li class="onenote">2 NumPy</li>
                </ul>
            </td>
            <td></td>
        </tr>
        <tr>
            <td>Week 2</td>
            <td>
                <ul>
                    <li class="unit-size">Unit 3: Pandas</li>
                    <li>Reading CSV Files</li>
                    <li>Pandas DataFrames</li><br>
                    <li>Reading Excel Files</li>
                    <li>Bringing Code into Notebooks</li>
                    <li>DataFrame Attributes</li>
                    <li>Understanding Data Types</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li class="onenote">Pandas</li>
                </ul>
            </td>
            <td class="assignmentdue">Due Fri (8/30):<br> Ex 1 <br> Ex 2.1 <br> Quiz 2.2</td>
        </tr>
        <tr>
            <td>Week 3</td>
            <td>
                <ul>
                    <li>Summary Stats of a DataFrame</li>
                    <li>Min, Mean, Sum, and Describe Methods</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li class="onenote">Pandas</li><br>
                </ul>
            </td>
            <td class="assignmentdue">Due Fri (9/6):<br> Ex 3.1 <br> Ex 3.2 <br> Quiz 3.3</td>
        </tr>
        <tr>
            <td>Week 4</td>
            <td>
                <ul>
                    <li>Filtering DataFrames</li>
                    <li>Filtering: query()</li>
                    <li>Operators</li>
                    <li>Checking Filter with unique()</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li class="onenote">Pandas</li><br>
                </ul>
            </td>
            <td class="assignmentdue">Due Fri (9/13):<br> Ex 3.4</td>
        </tr>
        <tr>
            <td>Week 5</td>
            <td>
                <ul>
                    <li>Sorting a DataFrame</li>
                    <li>Changing Data Types</li>
                    <li>Top N with iloc[]</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li class="onenote">Pandas</li><br>
                </ul>
            </td>
            <td class="assignmentdue">Due Fri (9/20):<br> Ex 3.5</td>
        </tr>
        <tr class="collapse">
            <td>Week 6</td>
            <td>
                <ul>
                    <li>IP Addressing and Subnetting</li>
                    <li>GROUP DNS Server Assignment and Cleanup</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li class="onenote">Week 6</li><br>
                    <li>Supplemental Resources:</li>
                    <li><a href="https://youtu.be/QxGTQVZp77U">Binary Math</a></li>
                    <li><a href="https://youtu.be/_bn0CF5zqvo">IPv4 Addresses and Subnetting</a></li>
                    <li><a href="https://youtu.be/ZxAwQB8TZsM">Seven Second Subnetting</a></li>
                </ul>
            </td>
            <td class="assignmentdue">Due Mon (9/23): WA 5</td>
        </tr>
        <tr class="collapse">
            <td>Week 7</td>
            <td colspan="2" style="text-align: center; vertical-align: middle;">Academic Conference - No Class on October 1st</td>
            <td class="assignmentdue">Due Mon (9/30): WA 6</td>
        </tr>
        <tr class="collapse">
            <td>Week 8</td>
            <td>
                <ul>
                    <li>Configure New DHCP Server Profile</li>
                    <li>Install DHCP on group DNS Server</li>
                    <li>Deploy New VM from Template</li><br>
                    <li>Review for the Midterm Exam </li>
                    <li>Midterm will be available on Canvas</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li class="onenote">Week 8</li><br>
                    <li>Supplemental Resources:</li>
                    <li>Hands-On Microsoft Windows Server 2019: p. 542-561</li><br>
                    <li>Midterm Study Guide Available on Canvas</li>
                </ul>
            </td>
            <td class="assignmentdue">Due Sun (10/13): Midterm</td>
        </tr>
        <tr class="collapse">
            <td>Week 9</td>
            <td>
                <ul>
                    <li>Active Directory</li>
                    <li>Deploy and Config a Domain Controller</li>
                    <li>Organizational Unit Structures</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li class="onenote">Week 9</li><br>
                    <li>Supplemental Resources:</li>
                    <li><a href="https://www.youtube.com/watch?v=OTpbQkW3kj4&feature=youtu.be">Introduction to Active Directory</a></li>
                    <li>Hands-On Microsoft Windows Server 2019: p. 223-250</li>
                </ul>
            </td>
            <td class="assignmentdue">Due Mon (10/21): WA 7</td>
        </tr>  
        <tr class="collapse">
            <td>Week 10</td>
            <td colspan="2" style="text-align: center; vertical-align: middle;">Advising Day - No Class on October 29th</td>
            <td class="assignmentdue">Due Mon (10/28): WA 8A & WA 8B</td>
        </tr>   
        <tr class="collapse">
            <td>Week 11</td>
            <td>
                <ul>
                    <li>File Server and Permissions Testing</li>
                    <li>Deploy a Windows 10 Desktop VM</li><br>
                    <li>Work on Lab 2 & WA 9</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li class="onenote">Week 11</li>
                    <li class="onenote">Labs</li><br>
                </ul>
            </td>
            <td></td>
        </tr>
        <tr class="collapse">
            <td>Week 12</td>
            <td>
                <ul>
                    <li>Group Policy Objects</li>
                    <li>User Configuration Policies</li>
                    <li>Administrative Templates</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li class="onenote">Week 12</li><br>
                    <li>Supplemental Resources:</li>
                    <li>Hands-On Microsoft Windows Server 2019: p. 706-722</li>
                </ul>
            </td>
            <td class="assignmentdue">Due Mon (11/11): Lab 2 & WA 9</td>
        </tr>  
        <tr class="collapse">
            <td>Week 13</td>
            <td>
                <ul>
                    <li class="unit-size">Unit 3: Containers & Serverless Computing</li><br>
                    <li>Docker</li>
                    <li>Microsoft Azure</li>
                    <li>Function Platform as a Service (fPaaS)</li>
                    <li>Azure Functions</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li class="onenote">Week 13</li><br>
                    <li>Supplemental Resources:</li>
                    <li>Hands-On Microsoft Windows Server 2019: p. 670-681</li>
                    <li><a href="https://azure.microsoft.com/en-us/free/students/">Azure For Students</a></li>
                    <li><a href="https://learn.microsoft.com/en-us/azure/azure-functions/functions-run-local?tabs=windows%2Cisolated-process%2Cnode-v4%2Cpython-v2%2Chttp-trigger%2Ccontainer-apps&pivots=programming-language-python#install-the-azure-functions-core-tools">Azure Functions Core Tools</a></li>
                    <li><a href="https://code.visualstudio.com/">VS Code</a></li>
                    <li><a href="https://www.python.org/">Python</a></li>
                </ul>
            </td>
            <td class="assignmentdue">Due Mon (11/18): WA 10</td>
        </tr>
        <tr class="collapse">
            <td>Week 14</td>
            <td>
                <ul>
                    <li>More on Docker and Azure Functions</li>
                    <li>Work on Lab 3</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li class="onenote">Labs</li>
                </ul>
            </td>
            <td class="assignmentdue">Due Mon (11/25): WA 11 & WA 12</td>
        </tr> 
        <tr class="collapse">
            <td>Week 15</td>
            <td>
                <ul>
                    <li>Final Exam Review Session</li>
                    <li>Practice Exam for Final</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>Final Exam Study Guide Available on Canvas</li>
                </ul>
            </td>
            <td class="assignmentdue">Due Mon (12/2): Lab 3</td>
        </tr>
        <tr class="collapse">
            <td colspan="4" style="text-align: center;">CIS 335 In Class Final Exam: Tuesday, December 12: 6:00 - 8:30 PM</td>
        </tr>
    </tbody>
</table>