@page
@{
    ViewData["Title"] = "340 Schedule";
}

<div class="container">
    <div class ="page-header">
        <h1>CIS 340 Spring 2025 Schedule</h1>
        <h5><a href="https://cis340.wkapakos.info/">Course Notebook</a></h5>
    </div>    
</div>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Week Day</th>
            <th>Date</th>
            <th>Units and Topics</th>
            <th>Resources</th>
            <th>Due</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Mon</td>
            <td>1/13</td>
            <td>
                <ul>
                    <li class="unit-size">Unit 1: Getting Started with Jupyter Notebooks</li>
                    <li>VS Code</li>
                    <li>Google Colab</li>
                    <li>Jupyter Notebooks</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li class="onenote">1 Getting Started</li>
                    <li><a href="https://www.python.org/">Python interpreter</a></li>
                    <li><a href="https://code.visualstudio.com/Download">VS Code</a></li>
                    <li><a href="https://support.google.com/mail/answer/56256">Create a Gmail account</a></li>
                    <li><a href="https://wcu.hosted.panopto.com/Panopto/Pages/Viewer.aspx?id=20c2c3c4-8b49-4a0d-a2b0-b25d01493d39">Working with Jupyter Notebooks in VS Code</a></li>
                    <li><a href="https://wcu.hosted.panopto.com/Panopto/Pages/Viewer.aspx?id=c2fd30ea-edc9-4279-9d54-b25d01494581">Working with Jupyter Notebooks in Google Colab</a></li>
                </ul>
            </td>
            <td style="width: 100px;"></td>
        </tr>
        <tr>
            <td>Wed</td>
            <td>1/15</td>
            <td>
                <ul>
                    <li class="unit-size">Unit 2: NumPy</li>
                    <li>The Data Analytics Ecosystem</li>
                    <li>NumPy ndarrays</li>
                    <li>NumPy Statistical Functions</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li class="onenote">2 NumPy</li>
                    <li><a href="https://numpy.org/doc/stable/reference/generated/numpy.ndarray.html#numpy-ndarray">NumPy.ndarray</a></li>
                    <li><a href="https://numpy.org/doc/stable/reference/generated/numpy.ptp.html#numpy-ptp">NumPy.ptp (peak to peak)</a></li>
                    <li><a href="https://numpy.org/doc/stable/reference/generated/numpy.amax.html#numpy-amax">NumPy.amax</a></li>
                    <li><a href="https://numpy.org/doc/stable/reference/generated/numpy.average.html#numpy-average">NumPy.average</a></li>
                </ul>
            </td>
            <td></td>
        </tr>
        <tr>
            <td>Fri</td>
            <td>1/17</td>
            <td>
                <ul>
                    <li class="unit-size">Unit 2: NumPy</li>
                    <li>Basic Indexing and Slicing</li>
                    <li>Importing Data Into NumPy Arrays</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li class="onenote">2 NumPy</li>
                </ul>
            </td>
            <td></td>
        </tr>
        <tr>
            <td>Mon</td>
            <td>1/20</td>
            <td colspan="4" style="text-align: center;">MLK Jr. Day - No Class</td>
        </tr>
        <tr>
            <td>Wed</td>
            <td>1/22</td>
            <td>
                <ul>
                    <li class="unit-size">Unit 3: Pandas</li>
                    <li>Reading CSV Files</li>
                    <li>Pandas DataFrames</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li class="onenote">3 Pandas</li>
                    <li><a href="https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html#pandas-read-csv">read_csv()</a></li>
                    <li><a href="https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.head.html#pandas-dataframe-head">head()</a></li>
                    <li><a href="https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.shape.html#pandas-dataframe-shape">shape</a></li>
                    <li><a href="https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.dtypes.html#pandas-dataframe-dtypes">dtypes</a></li>
                </ul>
            </td>
            <td></td>
        </tr>
        <tr>
            <td>Fri</td>
            <td>1/24</td>
            <td>
                <ul>
                    <li class="unit-size">Lab Day (working session)</li>
                </ul>
            </td>
            <td></td>
            <td class="assignmentdue">Ex 1.1<br>Ex 2.1<br>Ex 3.1<br>Quiz</td>
        </tr>
        <tr>
            <td>Mon</td>
            <td>1/27</td>
            <td>
                <ul>
                    <li class="unit-size">Unit 3: Pandas</li>
                    <li>Reading Excel Files</li>
                    <li>Bringing Code into Notebooks</li>
                    <li>DataFrame Attributes</li>
                    <li>Understanding Data Types</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li class="onenote">3 Pandas</li>
                    <li><a href="https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_excel.html#pandas-read-excel">read_excel()</a></li>
                    <li><a href="https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.shape.html#pandas-dataframe-shape">shape</a></li>
                    <li><a href="https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.dtypes.html#pandas-dataframe-dtypes">dtypes</a></li>
                </ul>
            </td>
            <td></td>
        </tr>
        <tr>
            <td>Wed</td>
            <td>1/29</td>
            <td>
                <ul>
                    <li class="unit-size">Unit 3: Pandas</li>
                    <li>Summary Stats of a DataFrame</li>
                    <li>Min, Mean, Sum, and Describe Methods</li>
                    <li>Create Custom Datasets</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li class="onenote">3 Pandas</li>
                    <li><a href="https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.describe.html#pandas-dataframe-describe">describe()</a></li>
                    <li><a href="https://pypi.org/project/drawdata/">Drawdata</a></li>
                </ul>
            </td>
            <td></td>
        </tr>
        <tr>
            <td>Fri</td>
            <td>1/31</td>
            <td>
                <ul>
                    <li class="unit-size">Lab Day (working session)</li>
                </ul>
            </td>
            <td></td>
            <td class="assignmentdue">Ex 3.2 <br> Quiz</td>
        </tr>
        <tr>
            <td>Mon</td>
            <td>2/3</td>
            <td>
                <ul>
                    <li class="unit-size">Unit 3: Pandas</li>                
                    <li>Filtering DataFrames</li>
                    <li>Filtering: query()</li>
                    <li>Operators</li>
                    <li>Checking Filter with unique()</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li class="onenote">3 Pandas</li>
                    <li><a href="https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.query.html#pandas-dataframe-query">query()</a></li>
                    <li><a href="https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.unique.html#pandas.unique">unique()</a></li>
                    
                </ul>
            </td>
            <td></td>
        </tr>
        <tr>
            <td>Wed</td>
            <td>2/5</td>
            <td>
                <ul>
                    <li class="unit-size">Unit 3: Pandas</li>
                    <li>Sorting a DataFrame</li>
                    <li>Changing Data Types</li>
                    <li>Top N with iloc[]</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li class="onenote">3 Pandas</li>
                    <li><a href="https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sort_values.html#pandas-dataframe-sort-values">sort_values()</a></li>
                    <li><a href="https://pandas.pydata.org/pandas-docs/version/2.1/reference/api/pandas.DataFrame.iloc.html">iloc[]</a></li>
                </ul>
            </td>
            <td></td>
        </tr>
        <tr>
            <td>Fri</td>
            <td>2/7</td>
            <td>
                <ul>
                    <li class="unit-size">Lab Day (working session)</li>
                </ul>
            </td>
            <td></td>
            <td class="assignmentdue">Ex 3.4 <br>Ex 3.5 <br> Quiz</td>
        </tr>
        <tr>
            <td>Mon</td>
            <td>2/10</td>
            <td>
                <ul>
                    <li class="unit-size">Unit 3: Pandas</li>
                    <li>Groupby Operations - One Column</li>
                    <li>Adding New Columns to DataFrames</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li class="onenote">3 Pandas</li>
                    <li><a href="https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.astype.html#pandas-dataframe-astype">astype()</a></li>
                    <li><a href="https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.groupby.html#pandas-dataframe-groupby">groupby()</a></li>
                    <li><a href="https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.reset_index.html#pandas-dataframe-reset-index">reset_index()</a></li>
                    <li><a href="https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop.html#pandas-dataframe-drop">drop()</a></li>
                </ul>
            </td>
            <td></td>
        </tr>
        <tr>
            <td>Wed</td>
            <td>2/12</td>
            <td>
                <ul>
                    <li class="unit-size">Unit 3: Pandas</li>
                    <li>Groupby Operations - Two Columns</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li class="onenote">3 Pandas</li>
                    <li><a href="https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.astype.html#pandas-dataframe-astype">astype()</a></li>
                    <li><a href="https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.groupby.html#pandas-dataframe-groupby">groupby()</a></li>
                    <li><a href="https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.reset_index.html#pandas-dataframe-reset-index">reset_index()</a></li>
                    <li><a href="https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop.html#pandas-dataframe-drop">drop()</a></li>
                </ul>
            </td>
            <td></td>
        </tr>
        <tr>
            <td>Fri</td>
            <td>2/14</td>
            <td>
                <ul>
                    <li class="unit-size">Lab Day (working session)</li>
                </ul>
            </td>
            <td></td>
            <td class="assignmentdue">Ex 3.6 <br>Ex 3.7<br>Lab 1<br>Quiz</td>
        </tr>
        <tr>
            <td>Mon</td>
            <td>2/17</td>
            <td>
                <ul>
                    <li class="unit-size">Unit 3: Pandas</li>
                    <li>Screenscraping</li>
                    <li>Data Cleansing</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li class="onenote">3 Pandas</li>
                    <li><a href="https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_html.html#pandas-read-html">read_html()</a></li>
                    <li><a href="https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.replace.html#pandas-dataframe-replace">replace()</a></li>
                </ul>
            </td>
            <td></td>
        </tr>
        <tr>
            <td>Wed</td>
            <td>2/19</td>
            <td>
                <ul>
                    <li class="unit-size">Unit 3: Pandas</li>
                    <li>Dealing with Missing Data</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li class="onenote">3 Pandas</li>
                    <li><a href="https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.isnull.html#pandas-dataframe-isnull">isnull()</a></li>
                    <li><a href="https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.fillna.html#pandas-dataframe-fillna">fillna()</a></li>
                    <li><a href="https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.dropna.html#pandas.DataFrame.dropna">dropna()</a></li>
                    <li><a href="https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.interpolate.html#pandas.DataFrame.interpolate">interpolate()</a></li>
                </ul>
            </td>
            <td></td>
        </tr>
        <tr>
            <td>Fri</td>
            <td>2/21</td>
            <td>
                <ul>
                    <li class="unit-size">Professional Development Conference</li>
                    <li>No Class</li>
                </ul>
            </td>
            <td></td>
            <td class="assignmentdue">3.8<br>3.9<br>Lab 2<br>Quiz</td>
        </tr>
        <tr>
            <td>Mon</td>
            <td>2/24</td>
            <td>
                <ul>
                    <li class="unit-size">Unit 3: Pandas</li>
                    <li>Data Cleansing II</li>
                    <li>Inconsistent Data</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li class="onenote">3 Pandas</li>
                    <li><a href="https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.replace.html">replace()</a></li>
                    <li><a href="https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html">rename()</a></li>
                </ul>
            </td>
            <td></td>
        </tr>     
        <tr>
            <td>Wed</td>
            <td>2/26</td>
            <td>
                <ul>
                    <li class="unit-size">Unit 3: Pandas</li>
                    <li>Reading Tables From a Relational Database</li>
                    <li>Reading Data From a URL</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li class="onenote">3 Pandas</li>
                    <li><a href="https://pypi.org/project/SQLAlchemy/">SQLAlchemy Library</a></li>
                    <li><a href="https://pypi.org/project/matplotlib/">Matplotlib Library</a></li>
                    <li><a href="https://docs.python.org/3/library/time.html">Time Module</a></li>
                    <li><a href="https://pypi.org/project/requests/">Requests Module</a></li>
                </ul>
            </td>
            <td></td>
        </tr>
        <tr>
            <td>Fri</td>
            <td>2/28</td>
            <td>
                <ul>
                    <li class="unit-size">Lab Day (working session)</li>
                </ul>
            </td>
            <td></td>
            <td class="assignmentdue">3.10<br>3.11<br>Quiz</td>
        </tr>
        <tr>
            <td>Mon</td>
            <td>3/3</td>
            <td>
                <ul>
                    <li class="unit-size">Unit 4: Visualizing Data with Python</li>
                    <li>Simple Plots with Matplotlib</li>
                    <li>DataFrame Plots with Seaborn</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li class="onenote">4 Visualizing Data with Python</li>
                    <li><a href="https://pypi.org/project/matplotlib/">Matplotlib Library</a></li>
                    <li><a href="https://pypi.org/project/seaborn/">Seaborn Library</a></li>
                </ul>
            </td>
            <td></td>
        </tr>     
        <tr>
            <td>Wed</td>
            <td>3/5</td>
            <td>
                <ul>
                    <li class="unit-size">Unit 4: Visualizing Data with Python</li>
                    <li>Integrating Structurally Different Data Sets Into a Single DataFrame</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li class="onenote">4 Visualizing Data with Python</li>
                    <li><a href="https://pandas.pydata.org/docs/reference/api/pandas.concat.html#pandas-concat">concat()</a></li>
                    <li><a href="https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.cumsum.html#pandas.DataFrame.cumsum">cumsum()</a></li>
                </ul>
            </td>
            <td></td>
        </tr>
        <tr>
            <td>Fri</td>
            <td>3/7</td>
            <td>
                <ul>
                    <li class="unit-size">Lab Day (working session)</li>
                </ul>
            </td>
            <td></td>
            <td class="assignmentdue">4.1<br>4.2<br>Quiz</td>
        </tr>
        <tr class="collapse">
            <td colspan="5" style="text-align: center;">March 10-16: Spring Break - No Class</td>
        </tr>     
        <tr class="collapse">
            <td>Mon</td>
            <td>3/17</td>
            <td>
                <ul>
                    <li class="unit-size">Unit 4: Visualizing Data with Python</li>
                    <li>Intro to Bokeh</li>
                    <li>Line Charts</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li class="onenote">4 Visualizing Data with Python</li>
                    <li><a href="https://docs.bokeh.org/en/latest/docs/user_guide/intro.html#introduction">Intro to Bokeh</a></li>
                    <li><a href="https://docs.bokeh.org/en/latest/docs/user_guide/basic/lines.html#">Line Chart</a></li>
                    <li><a href="https://docs.bokeh.org/en/latest/docs/user_guide/basic/lines.html#combining-with-markers">Markers</a></li>
                    <li><a href="https://docs.bokeh.org/en/latest/docs/user_guide/basic/layouts.html#grids-and-layouts">Layouts</a></li>
                </ul>
            </td>
            <td></td>
        </tr>  
        <tr class="collapse">
            <td>Wed</td>
            <td>3/19</td>
            <td>
                <ul>
                    <li class="unit-size">Unit 4: Visualizing Data with Python</li>
                    <li>Time Series with Bokeh</li>
                    <li>Bokeh Layouts</li>
                    <li>Hover Tooltip</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li class="onenote">4 Visualizing Data with Python</li>
                    <li><a href="https://docs.bokeh.org/en/latest/docs/user_guide/basic/lines.html#combining-with-markers">Markers</a></li>
                    <li><a href="https://docs.bokeh.org/en/latest/docs/user_guide/basic/layouts.html#grids-and-layouts">Layouts</a></li>
                </ul>
            </td>
            <td></td>
        </tr>  
        <tr class="collapse">
            <td>Fri</td>
            <td>3/21</td>
            <td>
                <ul>
                    <li class="unit-size">Lab Day (working session)</li>
                </ul>
            </td>
            <td></td>
            <td class="assignmentdue">4.3<br>4.4</td>
        </tr>
        <tr class="collapse">
            <td>Mon</td>
            <td>3/24</td>
            <td>
                <ul>
                    <li class="unit-size">Unit 4: Visualizing Data with Python</li>
                    <li>Simple Bar Charts with Plotly Express</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li class="onenote">4 Visualizing Data with Python</li>
                    <li><a href="https://plotly.com/python-api-reference/plotly.express.html#px">Plotly Express</a></li>
                    <li><a href="https://plotly.com/python-api-reference/generated/plotly.express.bar.html#plotly-express-bar">Bar Charts</a></li>
                </ul>
            </td>
            <td></td>
        </tr>  
        <tr class="collapse">
            <td>Wed</td>
            <td>3/26</td>
            <td>
                <ul>
                    <li class="unit-size">Unit 4: Visualizing Data with Python</li>
                    <li>Formatting Bar Chart Labels</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li class="onenote">4 Visualizing Data with Python</li>
                    <li><a href="https://plotly.com/python/text-and-annotations/">Text and Annotations</a></li>
                </ul>
            </td>
            <td></td>
        </tr>  
        <tr class="collapse">
            <td>Fri</td>
            <td>3/28</td>
            <td>
                <ul>
                    <li class="unit-size">Lab Day (working session)</li>
                </ul>
            </td>
            <td></td>
            <td class="assignmentdue">4.5<br>4.6</td>
        </tr>
        <tr class="collapse">
            <td>Mon</td>
            <td>3/31</td>
            <td>
                <ul>
                    <li class="unit-size">Unit 5: Statistical Analysis and Visualization</li>
                    <li>Peform Basic Statistical Analyses</li>
                    <li>Plots of Summary Statistics</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li class="onenote">5 Statistical Analysis and Visualization</li>
                    <li><a href="https://seaborn.pydata.org/generated/seaborn.catplot.html">seaborn.catplot</a></li>
                    <li><a href="https://seaborn.pydata.org/generated/seaborn.pairplot.html">seaborn.pairplot</a></li>
                </ul>
            </td>
            <td></td>
        </tr>  
        <tr class="collapse">
            <td>Wed</td>
            <td>4/2</td>
            <td>
                <ul>
                    <li class="unit-size">Unit 5: Statistical Analysis and Visualization</li>
                    <li>Compute Correlations Among Variables</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li class="onenote">5 Statistical Analysis and Visualization</li>
                    <li><a href="https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.corr.html">Pandas.corr</a></li>
                    <li><a href="https://seaborn.pydata.org/generated/seaborn.heatmap.html">seaborn.heatmap</a></li>
                    <li><a href="https://seaborn.pydata.org/generated/seaborn.regplot.html">seaborn.regplot</a></li>
                </ul>
            </td>
            <td></td>
        </tr>  
        <tr class="collapse">
            <td>Fri</td>
            <td>4/4</td>
            <td>
                <ul>
                    <li class="unit-size">Lab Day (working session)</li>
                </ul>
            </td>
            <td></td>
            <td class="assignmentdue">5.1<br>5.2<br>Lab 3<br>Quiz</td>
        </tr>
        <tr class="collapse">
            <td>Mon</td>
            <td>4/7</td>
            <td>
                <ul>
                    <li class="unit-size">Unit 6: Machine Learning Models</li>
                    <li>AI Agents</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li class="onenote">6 Machine Learning Models</li>
                    <li><a href="https://plotly.com/python/">Need Info Here</a></li>
                </ul>
            </td>
            <td></td>
        </tr>  
        <tr class="collapse">
            <td>Wed</td>
            <td>4/9</td>
            <td>
                <ul>
                    <li class="unit-size">Unit 6: Machine Learning Models</li>
                    <li>AI Agents</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li class="onenote">6 Machine Learning Models</li>
                    <li><a href="https://plotly.com/python/">Need Info Here</a></li>
                </ul>
            </td>
            <td></td>
        </tr>  
        <tr class="collapse">
            <td>Fri</td>
            <td>4/11</td>
            <td>
                <ul>
                    <li class="unit-size">Lab Day (working session)</li>
                </ul>
            </td>
            <td></td>
            <td class="assignmentdue">X<br>Quiz</td>
        </tr>
        <tr class="collapse">
            <td>Mon</td>
            <td>4/14</td>
            <td colspan="2" style="text-align: center;">Catch-Up Day: Optional Drop-In Class</td>
            <td></td>
        </tr>
        <tr class="collapse">
            <td colspan="5" style="text-align: center;">Apr. 16 - 20: Easter Break - No Classes</td>
        </tr>
        <tr class="collapse">
            <td>Mon</td>
            <td>4/21</td>
            <td>
                <ul>
                    <li class="unit-size">Unit 6: Machine Learning Models</li>
                    <li>AI Agents</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li class="onenote">6 Machine Learning Models</li>
                    <li><a href="https://plotly.com/python/">Need Info Here</a></li>
                </ul>
            </td>
            <td></td>
        </tr>  
        <tr class="collapse">
            <td>Wed</td>
            <td>4/23</td>
            <td>
                <ul>
                    <li class="unit-size">Unit 6: Machine Learning Models</li>
                    <li>AI Agents</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li class="onenote">6 Machine Learning Models</li>
                    <li><a href="https://plotly.com/python/">Need Info Here</a></li>
                </ul>
            </td>
            <td></td>
        </tr>  
        <tr class="collapse">
            <td>Fri</td>
            <td>4/25</td>
            <td>
                <ul>
                    <li class="unit-size">Lab Day (working session)</li>
                </ul>
            </td>
            <td></td>
            <td class="assignmentdue">X<br>Quiz</td>
        </tr>
        <tr class="collapse">
            <td>Mon</td>
            <td>4/28</td>
            <td>
                <ul>
                    <li class="unit-size">Unit 6: Machine Learning Models</li>
                    <li>AI Agents</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li class="onenote">6 Machine Learning Models</li>
                    <li><a href="https://plotly.com/python/">Need Info Here</a></li>
                </ul>
            </td>
            <td></td>
        </tr>  
        <tr class="collapse">
            <td>Wed</td>
            <td>4/30</td>
            <td>
                <ul>
                    <li class="unit-size">Unit 6: Machine Learning Models</li>
                    <li>AI Agents</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li class="onenote">6 Machine Learning Models</li>
                    <li><a href="https://plotly.com/python/">Need Info Here</a></li>
                </ul>
            </td>
            <td></td>
        </tr>  
        <tr class="collapse">
            <td>Fri</td>
            <td>5/2</td>
            <td>
                <ul>
                    <li>No Class Meeting</li>
                    <li>Study for final exam</li>
                </ul>
            </td>
            <td>
                <ul>
                </ul>
            </td>
            <td></td>
        </tr>
        <tr class="collapse">
            <td colspan="5" style="text-align: center;">CIS 340 In Class Final Exam: Tuesday, May 6: 3:00 - 5:30 PM</td>
        </tr> 
    </tbody>
</table>