@page
@{
    ViewData["Title"] = "Home Page";
}

<div class="card-columns">
  
  <div class="card text-white bg-info mb-3" style="max-width: 40rem;">
    <div class="card-header">CIS 240</div>
    <div class="card-body">
      <h4 class="card-title"><a href="/cis240">Intro to Coding with Python</a></h4>
      <p class="card-text">Class Time: MWF 9:05 - 9:55 am</p>
      <p class="card-text">Location: Forsyth 235</p>
    </div>
  </div>

  <div class="card text-white bg-success mb-3" style="max-width: 40rem;">
    <div class="card-header">CIS 335</div>
    <div class="card-body">
      <h4 class="card-title"><a href="/cis335">Enterprise Tech Mgt</a></h4>
      <p class="card-text">Class Time: Tuesday 5:00 - 7:50 pm</p>
      <p class="card-text">Location: Forsyth 235</p>
    </div>
  </div>

</div>